<ion-header>
    <ion-toolbar text-center>
      <ion-title>{{trip_from}} to {{trip_to}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

   <ion-list>
        <ion-list-header>
          <h2>Journey Details</h2>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src={{profilepic}} alt="prof pic">
          </ion-avatar>
          <ion-label>
            <h2>{{username}}</h2>
            <h3>{{recordtime}}</h3>
          </ion-label>
        </ion-item>

    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h2>Journey: {{ trip_from }} To {{ trip_to }}</h2>
          <h3>
            <p>Date: {{ date_from }} To {{ date_to }}</p>
            <p>Pickup time: {{ pickup_time }}</p>
            <p>Pickup Location: {{ pickup_loc }}</p>
            Stops: <p *ngFor="let wp of tripArray.waypoints">{{ wp.point }}</p>
          </h3>
          <h4 style="padding-right: 50px;">
          {{description}}
          </h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <h5>Budget: </h5> 
        <ion-input type="text" [(ngModel)]="budget" placeholder="Budget"></ion-input>
      </ion-row>
      <ion-row>
       <ion-col text-center>
          <ion-button (click)="closeModal()" >Submit Budget</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>