<!-- Side navigation Menu -->
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<!-- End side navigation Menu -->

<ion-content>

    <ion-item *ngFor="let item of tripdetails.trip" (click)="presentModal(item.tripid)">
        <div class="home-list">
          <h4 class="list-items"><b>
            <p>{{ item.trip_from }} To {{ item.trip_to }}</p>
            <p>{{ item.date_from }} to {{ item.date_to }}</p>
          </b></h4> 
        </div>
    </ion-item>

</ion-content>