.home-list {
    border-radius: 0.5em;
    background: #f04f4f;
    width: 95%;
    padding-bottom: 1em !important;
}

.list-items {
   text-align: center;
   text-shadow: 0.1em;
   color: #1d1111;
}
