.home-list {
    border-radius: 0.5em;
    background: #df5a5a;
    width: 95%;
}

.list-items {
   text-align: center;
   text-shadow: 0.1em;
   color: #ffffff;
}

ion-item {
    padding-top: 0.5em !important;
    padding-left: 1.0em;
    padding-right: 1.0em;
}



