 <ion-content fullscreen padding scroll-y="false">
      <ion-slides>

        <ion-slide>
          <img alt="LOGO" src="../../assets/jeep.png"/>
          <h1>Welcome to Jorney Ride Drivers</h1>
          <p>The <b>Journey Ride</b> is a safest way to travel.</p>
        </ion-slide>

        <ion-slide>
          <img alt="LOGO" class="logo2" src="../../assets/login.png"/>
          <h1>Get Started with Signing Up with Google</h1>

          <div class="buttons">
            <ion-button expand="block" color="dark" >
            <ion-icon name="logo-google"></ion-icon> Sign Up with Google</ion-button>
            <ion-button expand="block" color="dark" routerLink="/home"> Home </ion-button>
          </div>

        </ion-slide>
      </ion-slides>
    </ion-content>