<!-- Side navigation Menu -->
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<!-- End side navigation Menu -->

<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Passenger's Location</ion-title>
  </ion-toolbar>
  <ion-button (click)="currentPlace()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Where I Am
      </ion-button>
</ion-header>
-->


<ion-content>
  <div id="map" style="height: 100%;"></div>
</ion-content>
