h5 {
  text-align: center !important;
}

ion-card  {
  border-radius: 2em;
  padding-bottom: 1em !important;

  background: #BFDFC7 !important;
  p {
    font-size: 0.8em;
    text-align: left !important;
  }
}