
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<h5>Accepted Trips</h5>
<ion-card *ngFor="let psg of passengerNotes.passengernote" (click)="presentModal(psg.passengerId)"> 
<ion-card-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-avatar><img src={{psg.prof_pic}}></ion-avatar>
    </ion-col>
    <ion-col>
      <p>Passenger Name: {{psg.psgName}} </p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-content>
