ion-card {
    border-radius: 2em;
    background: #BFDFC7;
    padding-bottom: 1em !important;
    p {
        font-size: 0.8em !important;
        padding-left: 0.5em !important;
    }
}

ion-col > div {
    padding: 10px;
}

h5 {
    text-align: center;
}

